body
{
  padding-top: 50px;
  padding-bottom: 2.5em;
  color: #222;
  background: #eaeaea;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

@media (max-width: 768px){
  html
  {
    overflow-x: none;
  }
}

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

*
{
  cursor: default;
}

input[type=text], textarea
{
  cursor: text;
}

#content
{
  visibility: hidden;
}

button, .btn
{
  cursor: default;
}

.strong
{
  font-weight: bold;
}

a.pp, a.pp:hover, a.pp:visited, a.pp:active, a.pp:focus, a.pp.hover
{
  cursor: pointer;
  color: #ff8878;
  padding: 0.3em;
  margin: -0.3em;
  border-radius: .2em;
  text-decoration: none;
}

a.pp
{
  background: rgba(255, 136, 120, 0);
}

a.pp:hover, a.pp:active, a.pp:focus, a.pp.selected
{
  color: white;
  background: rgba(255, 136, 120, 1);
}

a.btn
{
  color: white;
}

/* Disable outlines on clicked buttons */
:focus,
.btn.active.focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn:active:focus,.btn:focus
{
  outline:none;
}
::-moz-focus-inner {border:0;}

#navbar
{
  margin-bottom: 3em;
}

#navbar nav
{
  background: #ff8878;
  color: #f2f2f2;
  min-height: 4.5em;
  -moz-box-shadow: 0 0 7px #000000;
  -webkit-box-shadow: 0 0 7px #000000;
  box-shadow: 0 0 7px #000000;
  border: none;
}

#navbar .navbar-brand
{
  padding-top: 0.5em;
}

#navbar .navbar-brand img
{
  height: 2.5em;
}

h1, h2, h3, h4, h5, h5
{
  font-family: Roboto;
  font-weight: bold;
}

a, span, div.poll
{
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.btn-pp
{
  background: #ff8878;
  box-shadow: 0 0.1em 0 0 #DE7568;
}

.btn-pp, .btn-pp-success
{
  border: none;
  border-radius: .2em;
  color: white;
  font-weight: 600;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
}

.btn-pp-success
{
  background: #009f2f;
  box-shadow: 0 0.1em 0 0 #008f1f;
}

.btn-pp:hover, .btn-pp-success:hover
{
  color: white;
  margin-top: -0.1em;
  margin-bottom: 0.1em;
}

.btn-pp:hover
{
  box-shadow: 0 0.2em 0 0 #DE7568;
}

.btn-pp-success:hover
{
  box-shadow: 0 0.2em 0 0 #008f1f;
}

.btn-pp:active, .btn-pp-success:active
{
  color: white;
  margin-top: 0.1em;
  margin-bottom: -0.1em;
}

.btn-pp:active
{
  box-shadow: 0 0.05em 0 0 #DE7568;
}

.btn-pp-success:active
{
  box-shadow: 0 0.05em 0 0 #008f1f;
}

.btn-pp:focus, .btn-pp-success:focus
{
  color: white;
}

.container
{
  padding: 0 .2em;
}

#compose-button
{
  /*background: #D65342;*/
  background: #EB6B57;
  font-size: 2.4em;
  padding: 0.1em 0.3em 0;
  box-shadow: 0 0.1em 0 0 #D64F3D; /* Old: #D13925 */
  margin-right: 0.2em;
}

navbar .btn-pp
{
  background: #EB6B57;
  box-shadow: 0 0.1em 0 0 #D64F3D; /* Old: #D13925 */
}

#compose-button:hover, navbar .btn-pp:hover
{
  box-shadow: 0 0.2em 0 0 #D64F3D;
}

#compose-button:active, navbar .btn-pp:active
{
  box-shadow: 0 0.05em 0 0 #D64F3D;
}

.navbar-right
{
  margin-top: 0.4em;
}

.flyout
{
  display: none;
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1500;
  text-align: center;
}

.flyout-contents
{
  display: none;
  position: absolute;
  top: 10%;
  left: 50%;
  width: 65em;
  max-width: 100%;
  background-color: #f5f5f5;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 200px 0px rgba(0, 0, 0, 0.9);
  -moz-box-shadow:    0px 0px 200px 0px rgba(0, 0, 0, 0.9);
  box-shadow:         0px 0px 200px 0px rgba(0, 0, 0, 0.9);
  margin-left: -32.5em;
  padding: 1.25em;
  text-align: left;
  overflow: auto;
  max-height: 90%;
  color: #333;
}

.flyout-close
{
  float: right;
  color: #444;
  margin: 0;
}

.flyout-close:hover
{
  color: #d9534f;
}

.flyout-hide-target
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 768px){
.flyout-contents, body #loginPage .flyout-signup-contents
{
  margin-left: 0;
  top: 0;
  left: auto;
  position: relative;
  width: 100%;
  min-width: initial;
}
}

.flyout h1,
.flyout h2,
.flyout h3,
.flyout h4,
.flyout h5,
.flyout h6,
#content h1
{
  font-weight: 900;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: -0.02em;
  text-align: center;
  color: #555;
}

.flyout-compose .poll-choices
{
  list-style: none;
  padding-left: 1em;
  margin-bottom: 1em;
}

.flyout-compose .input-group, .flyout-compose
{
  width: 100%;
}

.input-group input, .flyout-compose .input-group textarea
{
  width: 100%;
}

.flyout-compose .poll-choice input
{
  max-width: 92%; /* Any bigger and box will wrap under the circle on an iPhone 4/5 */
  overflow-y: hidden;
}

@media (max-width: 768px){
.flyout-compose .poll-choice input
{
  max-width: 78%;
}
}

.flyout-compose input, .flyout-compose textarea
{
  background: none;
  border: none;
  font-size: 3em;
  font-weight: 300;
  color: #222;
}

.flyout-compose .poll-choices input
{
  font-size: 2em;
}

.flyout-compose .poll-label
{
  margin-bottom: 0.1em;
  margin-top: 0.5em;
  font-size: 1.2em;
  font-weight: 900;
  text-transform: uppercase;
}

.flyout-compose #poll-question,
.flyout-compose .poll-choice input
{
  resize: none;
}

.poll-choice .circle, .poll-choice input
{
  float: left;
}

.flyout-compose .poll-choice .delete-choice
{
  float: right;
  color: #888;
  font-size: 1.5em;
  margin-top: 0.5em;
}

.flyout-compose .delete-choice:hover
{
  color: red;
}

.flyout-compose .poll-choice .circle
{
  color: #ff8878;
  font-size: 2em;
  margin-top: 0.4em;
  margin-right: 0.5em;
}

.navbar-header
{
  display: inline-block;
  float: left;
}

.navbar-right
{
  float: right;
}

.flyout-compose .input-group
{
  display: block;
  max-width: 100%;
  margin-right: 0;
}

.poll-choice
{
  margin-bottom: 0.4em;
}

.flyout .first
{
  margin-top: 0;
}

.poll-submit {
  float: right;
}

#page-feed .poll-question
{
  font-size: 2.25em;
  font-weight: 300;
}

#page-feed .poll
{
  color: #222;
  display: block;
  margin: 0.6em 0;
  padding: 0.7em 1em 1em 1em;
  -webkit-border-radius: 0.6em;
  -moz-border-radius: 0.6em;
  border-radius: 0.6em;
  background: none;
  background: rgba(0,0,0,0);
}

#page-feed .poll
{
  position: relative;
}

#page-feed .poll *
{
  cursor: pointer;
}

#page-feed .poll:hover, .poll:active
{
  text-decoration: none;
  background: #e0e0e0;
  background: rgba(0,0,0,0.05);
}

#page-feed .poll .poll-question
{
  margin: 0;
}

#page-feed .poll .poll-meta
{
  color: #aaa;
}

#page-feed .poll .poll-meta span
{
  margin-right: 1em;
}

#page-feed .poll .poll-choices-preview
{
  color: #666;
}

/*#logout, #logout:visited
{
  color: rgba(0,0,0,.7);
}

#logout:hover, #logout:active
{
  color: rgba(0,0,0,1);
}*/

#logout
{
  font-size: 1.2em;
  padding-bottom: 0.1em;
  display: block;
}

#username
{
  margin: 0.45em 1em 0 0;
}

#auth
{
  margin-top: 0.6em;
  margin-right: 1em;
}

/*@media (max-width: 768px){
  #content
  {
    margin-top: 3em;
  }
}*/

p.blurb
{
  font-size: 1.3em;
  font-weight: 300;
  text-align: center;
}

hr
{
  border-top: 1px solid #ccc;
}

#feed-sort
{
  text-align: center;
}

#feed-sort a
{
  margin-left: 1em;
  margin-right: 1em;
}

#page-poll #content
{
  margin-top: 2em;
}

#page-poll .scoring, #page-feed .scoring
{
  float: left;
  width: 6em;
  text-align: center;
}

#page-feed .scoring
{
  width: 7%;
  min-width: 5em;
}

#page-feed .poll-content
{
  float: left;
  width: 90%;
  min-width: 10em;
}



#page-poll .scoring p, #page-feed .scoring p
{
  margin: 0;
}

#page-poll .poll-content
{
  margin-left: 8em;
}

#page-poll .score
{
  font-size: 1.5em;
  margin: 0.5em 0;
}

#page-poll .poll-content .question
{
  font-weight: 300;
  font-size: 3.5em;
  margin-bottom: 0.5em;
}

#page-poll .poll-content .label
{
  font-size: 1.2em;
  color: #ff8878;
  font-weight: bolder;
  margin: 1em 0 2em 0;
  padding: 0;
}

#page-poll .poll-content .choices
{
  margin: 1em 0 0 1em;
}

#page-poll .poll-content .choice
{
  font-size: 2em;
  font-weight: 300;
}

#page-poll .scoring .chosen, #page-feed .scoring .chosen
{
  opacity: 1;
}

#page-login .jumbotron
{
  background: url('../img/splash-cover.jpg') no-repeat fixed center 50%;
  background-size: cover;
  color: white;
  padding: 0;
}

#page-login .jumbotron #screen
{
  background: rgba(0,0,0,.7);
  padding: 7em 0 2em 0;
}


#page-login .jumbotron h1,
#page-login .jumbotron h2,
#page-login .jumbotron h3,
#page-login .jumbotron h4,
#page-login .jumbotron h5,
#page-login .jumbotron h5
{
  font-family: "Source Sans Pro";
}

#page-login #logo-replace
{
  font-size: 1.2em;
  color: rgba(0,0,0,0);
  text-indent: -10000px;
  background: url('../img/pollprinceton-logo.72ppi.png') no-repeat center bottom;
  background-size: contain;

}

#page-login .jumbotron h1, #page-login .jumbotron h3
{
  text-transform: none;
  color: white;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0;
  text-align: center;
}

#page-login .jumbotron h1
{
  font-size: 5em;
}

#page-login .jumbotron h3
{
  font-size: 2em;
}

@media (max-width: 768px){
  #page-login .jumbotron h1
  {
    font-size: 3em;
  }

  #page-login .jumbotron h3
  {
    font-size: 1.5em;
  }
}

#page-login .jumbotron p
{
  font-size: 1em;
}

.centered
{
  text-align: center;
  margin: 0 auto;
}

#login-button
{
  font-size: 2em;
  font-weight: 300;
}

@media (max-width: 768px){
  #login-button
  {
    font-size: 1.3em;
  }
}

#page-login .navbar
{
  background: rgba(255, 136, 120, 0.8);
}

#page-login #compose-button
{
  display: none;
}

#page-login .info-block
{
  display: inline-block;
  vertical-align: top;
  width: 22em;
  margin: 2em;
}

#page-login .info-block h4
{
  text-align: center;
}

#page-login .info-block .icon img
{
  height: 7em;
}

#page-login .info-block .icon .fa
{
  font-size: 7em;
}

#page-login .info-block .text p
{
  text-align: justify;
}

.page-head, .flyout h2
{
  font-family: "Source Sans Pro";
}

.poll-label, .label
{
  font-family: Roboto;
}

footer
{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #eaeaea;
  border-top: 1px solid #ccc;
  font-size: 0.8em;
}

footer *
{
  margin-bottom: 0;
  color: #555;
}

footer p
{
  text-align: right;
  margin: 0.5em 2em;
}

.vote-submit
{
  display: block;
  height: 3em;
  width: 5.5em;
  margin-left: auto;
  margin-right: auto;
  color: #ff8878;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 0.8em;
  font-weight: bold;
  opacity: 0.5;
}

#page-feed .vote-submit
{
  width: 4em;
  color: rgba(1,1,1,0);
}

.vote-submit:focus
{
  opacity: 0.5;
}

.vote-submit:visited, .vote-submit:hover, .vote-submit:active, .vote-submit:focus
{
  color: #ff8878;
  text-decoration: none;
}

/* No hover effects on mobile */
@media (min-width: 768px){
  .vote-submit:hover
  {
    opacity: 1;
  }
}

.upvote
{
  background: url('../img/upvote.svg') no-repeat bottom center;
  background-size: contain;
}

.downvote
{
  padding-top: 2em;
  background: url('../img/downvote.svg') no-repeat top center;
  background-size: contain;
}

#page-poll .poll-content .choice a,
#page-poll .poll-content .choice a:hover,
#page-poll .poll-content .choice a:visited,
#page-poll .poll-content .choice a:focus,
#page-poll .poll-content .choice a:active
{
  display: block;
  text-decoration: none;
}

#page-poll .poll-content .choice a span.choice-text
{
  color: #222;
  padding: .2em .3em;
  border-radius: .3em;
}

#page-poll .poll-content .choice a span.choice-text,
#page-poll .poll-content .choice a:visited span.choice-text,
#page-poll .poll-content .choice a:focus span.choice-text
{
  background: rgba(0,0,0,0);
}

#page-poll .poll-content .choice a:hover span.choice-text,
#page-poll .poll-content .choice a:active span.choice-text
{
  background: rgba(0,0,0,0.05);
}

#page-poll .poll-content .choice a.unselected:hover span.choice-text,
#page-poll .poll-content .choice a.unselected:active span.choice-text
{
  /* Account for the opacity difference */
  background: rgba(0,0,0,0.1);
}

#page-poll .poll-content .choice .selected
{
  font-weight: normal;
}

#page-poll .poll-content .choice .unselected
{
  opacity: 0.5;
}

.pp-radio
{
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  margin-bottom: 0.2em;
}

#page-poll .poll-content .choice
{
  margin: 0.2em;
}

#page-poll .poll-content .choice-score
{
  color: #888;
  font-size: 0.5em;
  font-weight: bold;
  text-align: right;
}

#page-poll .bars
{
  float: left;
}

#page-poll .text-wrapper
{
  width: 60%;
  min-width: 10em;
  margin-right: 0;
  float: left;
}

#page-poll .choice-bar-wrapper
{
  opacity: 0.8;
  float: left;
  height: 1em;
  width: 40%;
  position: relative;
}

#page-poll .choice-bar
{
  background: #ff8878;
  height: 1em;
  border-right: 0.25em solid #ff8878;
  border-radius: 0.1em;
  float: left;
}

#page-poll .choice-tally
{
  margin: 0.35em 0 0 0.5em;
  display: inline-block;
  font-size: 0.4em;
  color: white;
  background: rgba(0,0,0,0.75);
  padding: 0.2em 0.4em;
  border-radius: 0.4em;
  float: left;
  font-weight: bold;
  max-width: 19%;
  opacity: 0;
}

#page-poll .choice-bar-wrapper:hover .choice-tally
{
  opacity: 1;
}
