body
{
  background: #eaeaea;
  font-family: "Source Sans Pro", sans-serif;
}

button, .btn
{
  cursor: default;
}

/* Disable outlines on clicked buttons */
:focus,
.btn.active.focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn:active:focus,.btn:focus
{
  outline:none;
}
::-moz-focus-inner {border:0;}

#navbar
{
  margin-bottom: 3em;
}

#navbar nav
{
  background: #ff8878;
  color: #f2f2f2;
  min-height: 4.5em;
  -moz-box-shadow: 0 0 7px #000000;
  -webkit-box-shadow: 0 0 7px #000000;
  box-shadow: 0 0 7px #000000;
  border: none;
}

#navbar .navbar-brand
{
  padding-top: 0.5em;
}

#navbar .navbar-brand img
{
  height: 2.5em;
}

h1, h2, h3, h4, h5, h5
{
  font-weight: bold;
}

.btn-pp
{
  background: #ff8878;
  border: none;
  border-radius: .2em;
  box-shadow: 0 0.1em 0 0 #DE7568;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  color: white;
}

.btn-pp:hover
{
  color: white;
  margin-top: -0.1em;
  box-shadow: 0 0.2em 0 0 #DE7568;
  margin-bottom: 0.1em;
}

.btn-pp:active
{
  color: white;
  margin-top: 0.1em;
  box-shadow: 0 0.05em 0 0 #DE7568;
  margin-bottom: -0.1em;
}

.btn-pp:focus
{
  color: white;
}

#compose-button
{
  /*background: #D65342;*/
  background: #EB6B57;
  font-size: 2.4em;
  padding: 0.1em 0.3em 0;
  box-shadow: 0 0.1em 0 0 #D64F3D; /* Old: #D13925 */
  margin-right: 0.2em;
}

#compose-button:hover
{
  box-shadow: 0 0.2em 0 0 #D64F3D;
}

#compose-button:active
{
  box-shadow: 0 0.05em 0 0 #D64F3D;
}

.navbar-right
{
  margin-top: 0.4em;
}

.flyout
{
  display: none;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1500;
  text-align: center;
}

.flyout-contents
{
  display: none;
  position: absolute;
  top: 5%;
  left: 50%;
  width: 65em;
  background-color: #f5f5f5;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 200px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow:    0px 0px 200px 0px rgba(0, 0, 0, 0.6);
  box-shadow:         0px 0px 200px 0px rgba(0, 0, 0, 0.6);
  margin-left: -32.5em;
  padding: 1.25em;
  text-align: left;
  overflow: auto;
  max-height: 90%;
  color: #333;
}

.flyout-close
{
  float: right;
  color: #444;
  margin: 0;
}

.flyout-close:hover
{
  color: #d9534f;
}

.flyout-hide-target
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 768px){
.flyout-contents, body #loginPage .flyout-signup-contents
{
  margin-left: 0;
  top: 0;
  left: auto;
  position: relative;
  width: 100%;
  min-width: initial;
}
}

.flyout-compose h1,
.flyout-compose h2,
.flyout-compose h3,
.flyout-compose h4,
.flyout-compose h5,
.flyout-compose h6
{
  font-weight: 700;
  text-transform: uppercase;
}

.flyout-compose .poll-options
{
  list-style: none;
  padding-left: 1em;
}

.flyout-compose .input-group, .flyout-compose
{
  width: 100%;
}

.input-group input, .flyout-compose .input-group textarea
{
  width: 90%;
}

.flyout-compose ul textarea
{
  max-width: 83%;
}

.flyout-compose input, .flyout-compose textarea
{
  background: none;
  border: none;
  font-size: 3em;
  font-weight: 300;
  color: #222;
}

.flyout-compose .poll-options textarea
{
  font-size: 2em;
}

.flyout-compose .poll-label
{
  margin-bottom: 0.1em;
  margin-top: 0.5em;
  font-size: 1.2em;
  font-weight: 900;
  text-transform: uppercase;
}

.flyout-compose #poll-question,
.flyout-compose .poll-option textarea
{
  resize: none;
}

.poll-option i, .poll-option textarea
{
  float: left;
}

.poll-option i
{
  color: #ff8878;
  font-size: 2em;
  margin-top: 0.25em;
  margin-right: 0.5em;
}

.navbar-header
{
  display: inline-block;
  float: left;
}

.navbar-right
{
  float: right;
}

.flyout-compose .input-group
{
  display: block;
  max-width: 95%;
}
