<div class="flyout flyout-compose" id="flyout-compose">

  <div class="flyout-hide-target" data-ng-click="hideComposeFlyout()"></div>

  <div class="flyout-compose-contents flyout-contents">
    <a class="flyout-close" href="" data-ng-click="hideComposeFlyout()"><i class="fa fa-times"></i></a>
    <h2 class="first">Write a new poll</h2>
    <hr>
    <div class="input-group">
      <p class="poll-label">QUESTION:</p>
      <textarea ng-model="newPoll.question" id="poll-question" placeholder="Which class should I take?" maxlength="350"></textarea>
      <p class="poll-label">OPTIONS:</p>
      <ul class="poll-choices">
        <li class="poll-choice" ng-repeat="choice in newPoll.choices track by $index">
          <i class="fa fa-circle-o circle"></i>
          <input type="text" ng-model="newPoll.choices[$index]" placeholder="Choice {{$index+1}}" maxlength="144" id="choice-input-{{$index}}"></input>
          <a class="delete-choice" href="" ng-click="deleteChoice($index)" tabindex="-1"><i class="fa fa-trash-o"></i></a>
          <div style="height: 1px; width: 100%; clear: both"><p class="invisible">.</p></div>
        </li>
      </ul>
      <div>
        <button class="btn btn-pp" ng-disabled="newPoll.choices.length >= 10" ng-click="addChoice()"><i class="fa fa-plus"></i> Add choice</button>
        <button class="btn btn-lg btn-pp-success poll-submit" ng-click="submitPoll()" ng-disabled="!pollValid()"><i class="fa fa-check-circle"></i> Post</button>
        <span class="poll-valid-indicator" ng-show="pollValid()">{{invalidReason}} <i class="fa fa-check-circle" style="color: #008f1f"></i></span>
        <span class="poll-valid-indicator text-danger" ng-hide="pollValid()">{{invalidReason}} <i class="fa fa-times-circle"></i></span>
      </div>
    </div>
  </div>

</div>
