<div id="navbar">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#/">
          <img alt="PollPrinceton" src="img/pollprinceton-logo.72ppi.png">
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <auth></auth>
        </li>
        <li>
          <div ng-controller="composeController">
            <button id="compose-button" type="button" class="btn btn-pp btn-lg" ng-click="showComposeFlyout()"><i class="fa fa-pencil-square-o"></i></button>
            <compose></compose>
          </div>
        </li>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>
</div>
