<div id="page-about" class="container container-fluid page-static">
  <navbar></navbar>
  <div id="content">
    <h1 class="page-head">About Us</h1>
    <p class="blurb">
      We're three Princeton students with a deadline to meet.
    </p>
    <hr>
    <h2>
      Developers
    </h2>
    <div class="centered">
      <div class="dev-box">
        <a href="http://ryanoshea.com" target="_blank">
          <div class="prof-pic-wrapper">
            <img src="img/ryan.jpg" class="prof-pic">
          </div>
          <h4 class="dev-name">Ryan O&#8217;Shea</h4>
          <p class="blurb">ELE &#8217;16</p>
        </a>
      </div>
      <div class="dev-box">
        <a href="http://tessmarchant.com" target="_blank">
          <div class="prof-pic-wrapper">
            <img src="img/tess.jpg" class="prof-pic">
          </div>
          <h4 class="dev-name">Tess Marchant</h4>
          <p class="blurb">COS &#8217;16</p>
        </a>
      </div>
      <div class="dev-box">
        <a href="https://www.linkedin.com/pub/henry-lu/90/85a/54" target="_blank">
          <div class="prof-pic-wrapper">
            <img src="img/henry.jpg" class="prof-pic">
          </div>
          <h4 class="dev-name">Henry Lu</h4>
          <p class="blurb">COS &#8217;16</p>
        </a>
      </div>
    </div>
    <hr>
    <div>
      <p class="blurb">
        <a href="http://pollprinceton.com/" class="pp">PollPrinceton</a> was developed in the Spring of 2015 for a final project in <a class="pp" href="http://www.cs.princeton.edu/courses/archive/spring15/cos333/">COS 333</a> at Princeton University.
      </p>
    </div>
  </div>
  <ppfooter></ppfooter>
</div>
