<div id="page-feed" class="container container-fluid">
  <navbar></navbar>
  <div id="content">
    <h1 class="page-head">Polls</h1>
    <p class="blurb">
      Open questions from Princeton students.<br>
      Answer someone's poll or write your own and see what the Orange Bubble has to think.
    </p>
    <hr>
    <div id="feed-sort">
      <p>SORT BY: <a class="pp">NEWEST</a> | <a class="pp">POPULAR</a></p>
    </div>
    <div ng-show="fetchedDevs" ng-repeat="dev in devs">
      <p><strong>Name:</strong> {{dev.name}} | <strong>Job:</strong> {{dev.job}}</p>
    </div>
    <div class="polls">
    	<a class="poll" ng-show="fetchedPolls" ng-repeat="poll in polls" href="#/poll?p={{poll.pollData.pid}}">

        <!-- This is the troublesome voting code
        <div class="scoring">
          <a class="vote-submit upvote" ng-click="upVote(poll.pollData.pid)" ng-class="{chosen: poll.userVote == true}">good poll</a>
          <p class="score">{{poll.pollData.score}}</p>
          <a class="vote-submit downvote" ng-click="downVote(poll.pollData.pid)" ng-class="{chosen: poll.userVote == false}">bad poll</a>
        </div>
        -->

    		<p class="poll-question">{{poll.pollData.question}}</p>
        <p class="poll-choices-preview">Vote: &#8216;{{poll.pollData.choices[0]}}&#8217;<span ng-show="poll.pollData.choices.length > 2">, </span><span ng-show="poll.pollData.choices.length == 2"> vs. </span>&#8216;{{poll.pollData.choices[1]}}&#8217;<span ng-show="poll.pollData.choices.length > 2">, <i class="fa fa-ellipsis-h"></i></span></p>
        <div class="poll-meta">
          <span><i class="fa fa-list-alt"></i> {{poll.pollData.choices.length}} choices</span>
          <span><i class="fa fa-clock-o"></i> {{poll.pollData.humanTime}}</span>
        </div>
    	</a>
    </div>

    <p>Admin: </p>
    <button class="btn btn-pp" ng-click="fetchDevs()">See Developers</button>
    <button class="btn btn-pp" ng-click="deletePolls()">Delete Polls</button>
  </div>
  <ppfooter></ppfooter>
</div>
