<div id="page-feed" class="container container-fluid">
  <navbar></navbar>
  <h1>Poll Feed</h1>
  <a class="btn btn-pp" href="#/">Log out</a>
  <button class="btn btn-pp" ng-click="fetchDevs()">See Developers</button>
  <button class="btn btn-pp" ng-click="deletePolls()">Delete Polls</button>
  <div ng-show="fetchedDevs" ng-repeat="dev in devs">
    <p><strong>Name:</strong> {{dev.name}} | <strong>Job:</strong> {{dev.job}}</p>
  </div>
  <div class="polls">
  	<div class="poll" ng-show="fetchedPolls" ng-repeat="poll in polls">
  		<span class="poll-question">{{poll.question}}</span><br>
      <span>{{poll.choices.length}} choices</span>
      <span>{{poll.humanTime}}</span><br>
      <span>ID: {{poll.pid}}</span>
  	</div>
  </div>

</div>
