<div id="page-poll" class="container container-fluid">
  <navbar></navbar>
  <div ng-show="fetchedPoll" id="content">

    <div class="scoring">
      <a class="vote-submit upvote" ng-click="upVote(poll.pid)" ng-class="{chosen: poll.userVote == true}">good poll</a>
      <p class="score">{{poll.score}}</p>
      <a class="vote-submit downvote" ng-click="downVote(poll.pid)" ng-class="{chosen: poll.userVote == false}">bad poll</a>
    </div>

    <div class="poll-content">
      <p class="label">SOMEONE IN PRINCETON WANTS TO KNOW:</p>
      <p class="question">{{poll.question}}</p>
      <p class="label">CHOICES:</p>
      <div class="choices">
        <p class="choice" href="" ng-repeat="c in poll.choices track by $index"><a href="" ng-click="respond($index)" ng-class="{selected: poll.userResponse == $index, unselected: poll.userResponse != -1 && poll.userResponse != $index}"><img src="img/radio-button-on.svg" ng-show="poll.userResponse == $index" class="pp-radio"><img src="img/radio-button-off.svg" ng-hide="poll.userResponse == $index" class="pp-radio"> <span class="choice-text">{{c}}</span> <span class="choice-score" ng-hide="poll.userResponse == -1"><strong>{{poll.responses[$index]}}</strong> <span ng-show="poll.userResponse == $index">other</span> user<span ng-hide="poll.responses[$index] == 1">s</span> chose this</span></a></p>
      </div>
    </div>

  </div>
  <ppfooter></ppfooter>
</div>
