<div id="page-poll" class="container container-fluid">
  <navbar></navbar>
  <div id="content">

    <div class="scoring">
      <a class="vote-submit upvote" ng-click="upVote(poll.pid)" ng-class="{chosen: poll.userVote == true}">good poll</a>
      <p class="score"><strong>{{poll.score}}</strong></p>
      <a class="vote-submit downvote" ng-click="downVote(poll.pid)" ng-class="{chosen: poll.userVote == false}">bad poll</a>
    </div>

    <div class="poll-content">
      <p class="poll-controls"><a href class="pp-grey" ng-click="deletePoll()" ng-show="poll.isAuthor || netid === 'roshea' || netid === 'marchant' || netid === 'hzlu'"><i class="fa fa-trash"></i> &nbsp; Delete Poll</a></p>
      <p class="label">SOMEONE IN PRINCETON WANTS TO KNOW:</p>
      <p class="question">{{poll.question}}</p>
      <p class="poll-meta"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;Posted {{poll.humanTime}} &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-pie-chart"></i>&nbsp;&nbsp;{{poll.numResponses}} <span ng-show="poll.numResponses !== 1">people</span><span ng-hide="poll.numResponses !== 1">person</span> responded</p>
      <p class="label">CHOICES:</p>
      <div class="choices">
        <div class="choice" ng-repeat="c in poll.choices track by $index">
          <div class="text-wrapper">
            <p>
              <a href="" ng-click="respond($index);" ng-class="{selected: poll.userResponse == $index, unselected: poll.userResponse != -1 && poll.userResponse != $index}">
                <img src="img/radio-button-on.svg" ng-show="poll.userResponse == $index" class="pp-radio">
                <img src="img/radio-button-off.svg" ng-hide="poll.userResponse == $index" class="pp-radio">
                <span class="choice-text">{{c}}</span>
              </a>
            </p>
          </div>
          <div class="choice-bar-wrapper" ng-show="poll.userResponse != -1">
            <div class="choice-bar" id="choice-bar-{{$index}}" style="width: {{barWidths[$index]}}">
              <p style="visibility: hidden">.</p>
            </div>
            <span class="choice-tally">{{poll.responses[$index]}} user<span ng-hide="poll.responses[$index] == 1">s</span></span>
          </div>
          <div style="height: 0; width: 100%; clear: both; visibility: hidden"><span>.</span></div>
        </div>
      </div>
    </div>
    <div class="lower-plots">
      <div id="plot-ab" class="piechart"></div>
      <div id="plot-bse" class="piechart"></div>
      <div id="plot-2015" class="piechart"></div>
      <div id="plot-2016" class="piechart"></div>
      <div id="plot-2017" class="piechart"></div>
      <div id="plot-2018" class="piechart"></div>
      <div id="plot-2019" class="piechart"></div>
      <div id="plot-butler" class="piechart"></div>
      <div id="plot-forbes" class="piechart"></div>
      <div id="plot-mathey" class="piechart"></div>
      <div id="plot-rocky" class="piechart"></div>
      <div id="plot-whitman" class="piechart"></div>
      <div id="plot-wilson" class="piechart"></div>
    </div>
  </div>
  <ppfooter></ppfooter>
</div>
