<div id="page-privacy" class="container container-fluid page-static">
  <navbar></navbar>
  <div id="content">
    <h1 class="page-head">Privacy Policy</h1>
    <p class="blurb">
      In plain English, for those of you who aren&#8217;t robots.
    </p>
    <hr>
    <div>
      <p class="blurb">Note: Using this site constitutes agreement with these terms.</p>
      <ul>
        <li><strong>No one on PollPrinceton can see that you&#8217;re the author of a poll.</strong> PollPrinceton is anonymous. The system keeps track of the polls you submit so you can see your polls&#8217; responses easily, but someone would have to break into our server or torture one of the developers to find out who wrote a poll. Side note: please don&#8217;t torture us.</li>
        <li><strong>If you don&#8217;t like a poll, please report it.</strong> Polls that get reported often are removed from the feed. The author can still see any feedback, but users won't see offensive polls in their feed.
        <li><strong>We reserve the right to use anything you post here.</strong> Polls aren't works of art, so we retain the copyrights on anything you post. Even if we wanted to give you the rights, we couldn&#8217;t do that without taking away your anonymity.</li>
        <li><strong>We reserve the right to take down content that breaks our content rules.</strong> Don&#8217;t mention people by name (including initials), use offensive language, or deliberately try to hurt someone&#8217;s feelings. We will take down anything that breaks those rules.
        <li>We reserve the right to modify these terms at any time with or without notifying you of the change. We don't plan to do this, but just in case, here it is.</li>
      </ul>
    </div>
  </div>
  <ppfooter></ppfooter>
</div>
